@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

:root {
	--overflowfloat:			0.00000000000000000000001;
	
	--transparencycolor:			0, 0, 0;
	--transparencyalpha:			0.15;
	--bordercolor:				0, 0, 0;
	--messagetransparency:			0.5;
	--guildchanneltransparency:		0.15;
	--chatinputtransparency:		0.0;
	--memberlisttransparency:		0.0;
	--accentcolor:				190, 78, 180;
	
	--background:				url(https://i.imgur.com/P0DLHz8.jpeg);
	--backgroundposition:			center;
	--backgroundsize:			cover;
	--backgroundblur:			0;
}
